#price_chart {
  height: 400px; 
  margin: auto;
  display: none; 
}

#market_data {
  height: 190px;
  margin: auto;
  display: block;
}

#holding {
  height: 200px; 
  margin: auto;
  display: none;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
}

.chart_button {
  background-color: #008CBA;
}

.back_button {
  background-color: #666699;
}

.title {
  background-color: #99ccff;
  margin: 0;
  padding: 5px;
  color: #ffffff;
  text-shadow: 1px 1px #000;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid #ddd;
    height: 30px; 
    padding: 8px;
    text-align: center;
}

th {  
    background: #99ccff; 
    font-weight: bold;
}

td {  
    background: #e6f5ff;
    text-align: center;
}

.delete_coin {
  height: 50px; 
  display: none;
}

tr:hover td.delete_coin {
  height: 50px; 
  display: block;
}
